---
- name: Install Perl related pkgs
  become: true
  apt: name={{ item }} state=present
  with_items:
    - perl-doc
    - html2text
    # unmaintained, CURLOPT_RESOLVE has bug
    # https://github.com/szbalint/WWW--Curl/issues
    - libwww-curl-perl
    - libcurl4-doc
    # dependency for Net::Curl
    - libcurl4-gnutls-dev 
    - pkgconf
    #
    # Additional CPAN clients
    - libcpanplus-perl
    - cpanminus
    #
    # Code formating
    - perltidy
    #
    # Code critic
    - libperl-critic-perl
    #
    # perl -d:ptkdb <script_name.pl>
    - libdevel-ptkdb-perl
    - perl-tk
    #
    # Template-Toolkit
    # http://template-toolkit.org/index.html
    - libtemplate-perl
    # graphviz diagrams (first package is graphviz itself, not strictly perl related)
    - graphviz
    - libgraphviz-perl
    # dependency for CPAN module PAR::Packer
    - libperl-dev
    # dependency for CPAN module Archive::Har 
    - libxml-libxml-perl
    - libjson-perl
    - libjson-xs-perl
    # for scrollback in Perl debugger
    - libterm-readline-gnu-perl


# Perl-Support : Perl IDE VIM plugin
# http://www.vim.org/scripts/script.php%3Fscript_id%3D556
- name: Download Perl-Support VIM pluggin zip file
  get_url:
    url: http://www.vim.org/scripts/download_script.php?src_id=24473
    dest: "{{ ansible_env.HOME }}/.vim"

- name: Unarchive Perl-Support VIM pluggin zip file
  unarchive:
    src: "{{ ansible_env.HOME }}/.vim/perl-support.zip"
    dest: "{{ ansible_env.HOME }}/.vim"
    creates: "{{ ansible_env.HOME }}/.vim/perl-support/README.md"
    remote_src: True
