---
# Ubuntu documentation
# https://help.ubuntu.com/community/SettingUpNFSHowTo#NFS_Client
- name: Install NFS client related pkgs
  become: true
  apt: name={{ item }} state=present
  with_items:
    - rpcbind
    - nfs-common
    - autofs
