---
- name: Install uncategorized shell utils related pkgs
  become: true
  apt: name={{ item }} state=present
  with_items:
    - tree
    - dict
    - wine
    - smartmontools
    - pv
    - ncdu
    - makepasswd
    - sshfs
    - httpry
    - workrave
    - shutter
    - phantomjs
#    - mitmproxy # the version in repo is old, used python pip to install a newer version
    - golang-go
    - ngrep
    - pwgen
    - inetutils-traceroute
    - geany
    - vim-scripts
    - vim-syntastic
    - vim-tabular
    - sqliteman
    - sqlitebrowser
