---
- name: Install Perl related pkgs
  become: true
  apt: name={{ item }} state=present
  with_items:
    - perl-doc
    - libcpanplus-perl
    - cpanminus
    - perltidy
    - html2text
    - libperl-critic-perl
